.hero {
  visibility: hidden;
  width: 90%;

  .container {
    margin: auto 0;

    .heroInner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 80vh;

      .heroContent {
        width: 55%;
        z-index: 2;

        .heroContentInner {
          margin: 0 auto;
          color: #fff;
          padding-left: 5px;

          h1 {
            font-weight: 900;
            font-size: 7vw;
            letter-spacing: 5px;
            margin-bottom: 15px;
            margin: 0;
            padding: 0;
            color: #d88a83;
            line-height: 6vw;

            .small {
              //font-weight: 100;
              font-size: 25px;
              line-height: 20px;
              color: #262f43;
              letter-spacing: 3.6px;
              -webkit-text-stroke: 0px;
              margin-bottom: 10px;
              font-family: "Gilroy-Light", sans-serif;
            }
            .heroContentLine {
              margin: 0;
              padding: 0;
              padding-top: 40px;
              overflow: hidden;
            }
          }

          p {
            font-size: 14px;
            line-height: 20px;
            font-weight: 300;
            margin: 50px 0 50px 0;
            //border: solid 1px red;
          }

          .btnRow {
            position: fixed;
            bottom: 20px;
            left: 0;
            width: 100%;
            padding: 0 50px 0 70px;

            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            a {
              background: none;
              border: none;
              text-decoration: none;
              font-size: 8px;
              padding: 0;
              cursor: pointer;
              text-transform: uppercase;
              font-weight: 700;
              letter-spacing: 1px;
              display: flex;
              align-items: center;
              position: relative;
              display: flex;
              flex-direction: column;
              align-items: center;

              span {
                color: #d88a83;
                opacity: 0;
                transition: all 0.5s ease-in-out;
                animation: projects-animation 1.5s infinite;
              }

              &:hover span {
                opacity: 1;
                animation: none;
              }

              .arrowIcon {
                position: absolute;
                margin-bottom: 10px;
                height: 40px;
                width: 40px;
                left: 0px;
                bottom: 20px;
                background: url(/images/DottedGrey.svg) no-repeat center center;
                background-size: cover;

                img {
                  height: 100%;
                  position: relative;
                  left: 10px;
                  top: 10px;
                }
              }
            }

            .social {
              position: relative;
              bottom: 20px;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              margin-right: 20px;
              height: 110px;

              a {
                text-decoration: none;
                position: relative;

                border-radius: 50%;
                height: 40px;
                max-width: 40px;
                transition: all 0.3s ease-in-out;

                &:hover span {
                  display: inline;
                  animation: projects-animation 1.5s infinite;
                }

                img {
                  height: 40px;
                  margin-bottom: 10px;
                }

                span {
                  display: none;
                  transition: all 0.5s ease-in-out;
                }
              }
            }
          }
        }
      }

      .heroImages {
        width: 50%;
        height: 100%;

        .heroImagesInner {
          top: 0px;
          width: 100%;
          height: 100vh;
          position: relative;
          padding-top: 100px;
          display: flex;
          justify-content: space-between;

          .heroImage {
            position: absolute;
            overflow: hidden;
            z-index: 1;

            &#second {
              bottom: 100px;
              right: 0;
              width: 40%;
              height: 50%;
              margin-left: 390px;
            }

            &#first {
              bottom: 150px;
              margin-left: 50px;
              width: 45%;
              height: 73%;
            }

            img {
              position: absolute;
              top: 100px;
              right: 0;
              left: 0;
              bottom: 0;
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@keyframes projects-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
