.container {
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;

  .containerInner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  &#color {
    background: #394359;
  }
}
