.header {
    display: flex;
    justify-content: space-between;
    height: 80px;
    margin: 0 auto;
    align-items: center;
    z-index: 10;
    position: relative;
    overflow: hidden;

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-left: 150px;
        width: 50px;
        height: 50px;
        background: #D88A83;
        border: 1px solid #394359;
        color: white;
        font-size: 30px;
        font-weight: 900;
        z-index: 10;

        a {
            text-decoration: none;
            color: white;
        }
    }

    .projects {
        color: white;
        position: relative;
        //font-weight: lighter;
        cursor: pointer;
    }

    .menu {
        background: #394359;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 150px;
        width: 45px;
        height: 45px;
        cursor: pointer;
        z-index: 10;
        top: -2px;
        border-radius: 50%;
        

        .one {
           content: "";
           position: absolute;
           display: flex;
           width: 30px;
           height: 2.5px;
           background: #fff;
           top: 10px;
        }

        .two {
           content: "";
           position: absolute;
           display: flex;
           width: 30px;
           height: 2px;
           background: #fff;
           top: 17px;
        }

        .three {
           content: "";
           position: absolute;
           display: flex;
           width: 30px;
           height: 2px;
           background: #fff;
           top: 24px;
        }

        

        
    }

}